.testimonial-container {
  background-color: white;
  padding: 0px;

  overflow: visible;
}

.swiper {
  padding: 0 20px; /* Padding on the sides for partial visibility */
}

.swiper-slide {
  width: calc(20% - 20px); /* Ensure partial visibility for 5 slides */
}

.card-image {
  margin-bottom: 10px; /* Space between image and text */
}

.testimonial-card {
  background: #eeeeee;
  border-radius: 10px;
  padding: 26px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left; /* Align text to the left */
  transition: transform 0.3s; /* Smooth transition */
  max-width: 395px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.card-content {
  margin: 0px;
  margin-bottom: 20px;
  color: #413d45;
  font-family: "DM Sans";
  font-size: 27.528px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 138.462% */
  letter-spacing: -0.741px;
  text-align: left;
}

.card-author p {
  margin: 0; /* Remove default margin */
  color: #413d45;
  font-family: "DM Sans";
  font-size: 11.646px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.94px; /* 145.455% */
  letter-spacing: -0.127px;
}

/* Adjust for smaller screens */
/* Adjust for smaller screens */
@media (max-width: 768px) {
  .swiper-slide {
    width: calc(60% - 20px); /* Center slide will take 60% of the width */
    margin: 0 10px; /* Spacing between slides */
  }

  .testimonial-card {
    background: #eeeeee;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s;
    max-width: 300px;
    font-size: 12px;
  }

  /* Center the active card */
  .swiper {
    padding: 0 40px; /* Add side padding for the partial slides */
  }

  .swiper-slide-active {
    transform: scale(1.05); /* Slightly scale up the active slide */
  }

  /* Adjust for partially visible slides */
  .swiper-slide:first-child {
    margin-left: -15%; /* Show part of the first slide */
  }
  
  .swiper-slide:last-child {
    margin-right: -15%; /* Show part of the last slide */
  }
}

