.about-section {
  padding: 94.11px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 94.11px;
}

.about-content {
  display: flex;
  gap: 37px;
  flex-direction: column;
}
.about-img {
  max-width: 720px;
  width: 100%;
}
.about-content h2 {
  color: var(--Blue-Gray-900, var(--Heading-color, #0f172a));
  font-family: "DM Sans";
  font-size: 65.878px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 72.466px */
}
.about-content p {
  color: var(--Blue-Gray-900, var(--Heading-color, #0f172a));
  font-family: "DM Sans";
  font-size: 23px;
  font-style: normal;

  font-weight: 400;
  line-height: 180%; /* 42.35px */
}

@media (max-width: 768px) {
  .about-section {
    padding-top: 13.49px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .about {
    margin-top: 0px;
    gap: 16px;
    flex-direction: column-reverse;
  }
  .about-content {
    gap: 0px;
  }
  .about-content h2 {
    font-size: 24px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .about-content p {
    color: var(--Blue-Gray-900, var(--Heading-color, #0f172a));
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
  }
  .about-img img {
    display: flex;
    width: 262.165px;
    height: 209.295px;
    justify-content: center;
    align-items: center;
  }
}
